
@font-face{
    font-family: 'Salsa';
    src: url("https://pe-pe-pe.herokuapp.com/public/resources/fonts/Salsa/Salsa-Regular.ttf");
    font-style:normal ;
}

:root{
    --paletaMain: #E2C044;
    --paletaPrevio: #F06449;
    --paletaActual: #26547C;
}

body{
    font-family: "Salsa", Arial;
    padding: 3vh 2vw;
    font-size: 19px;
}

.resaltado{
    background-color: var(--paletaActual);
    padding: 0px 5px;
    border-radius: 5px;
    color: whitesmoke;
}

.boton{
    cursor: pointer;
    background-color: var(--paletaMain);
    padding: 10px;
    text-align: center;
    max-width: 300px;
    margin: 10px auto;
    font-size: 15px;
}

.deshabilitado{
    opacity: 0.4;
    pointer-events: none;
}

.itemEjemplo {
    border: 3px dotted gray;
    border-spacing: 10px;
    padding: 5%;
    margin: 15px 0px;
}

