.env
/node_modules
package-lock.json

tsServidor/archivosDeUsuario/actvidades/*
tsServidor/archivosDeUsuario/evidencias/*

!tsServidor/archivosDeUsuario/evidencias/.gitkeep
!tsServidor/archivosDeUsuario/actvidades/.gitkeep

credencialesServicioGoogleDrive.json
pruebaApiDrive.js

migrarActividades.js
migrarInfoAutores.js
exportarTrabajos.js
crearInfoAutorParaRespuestasForo.js
crearMisTrabajosEnUsuarios.js
migrarCuentos.js
/mediaCuentos