.env
/node_modules
package-lock.json

tsServidor/archivosDeUsuario/actvidades/*
tsServidor/archivosDeUsuario/evidencias/*

!tsServidor/archivosDeUsuario/evidencias/.gitkeep
!tsServidor/archivosDeUsuario/actvidades/.gitkeep


