.env
/node_modules

tsServidor/archivosDeUsuario/actvidades/*
tsServidor/archivosDeUsuario/evidencias/*

!tsServidor/archivosDeUsuario/evidencias/.gitkeep
!tsServidor/archivosDeUsuario/actvidades/.gitkeep

tsServidor/public/atlasConocimiento/recursos
tsServidor/public/atlasConocimiento/nodosConocimiento
comunaBuild/public/atlasConocimiento/recursos
comunaBuild/public/atlasConocimiento/nodosConocimiento

credencialesServicioGoogleDrive.json
pruebaApiDrive.js

migrarActividades.js
migrarInfoAutores.js
exportarTrabajos.js
crearInfoAutorParaRespuestasForo.js
crearMisTrabajosEnUsuarios.js
migrarCuentos.js
/mediaCuentos
