<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://pe-pe-pe.herokuapp.com/public/resources/libraries/vue.js"></script>

    <script src="https://pe-pe-pe.herokuapp.com/public/atlasConocimiento/components/bloque.js"></script>
    <script src="https://pe-pe-pe.herokuapp.com/public/atlasConocimiento/components/enlace.js"></script>
    <script src="https://pe-pe-pe.herokuapp.com/public/atlasConocimiento/components/recuadro.js"></script>

    <link rel="stylesheet" href="https://pe-pe-pe.herokuapp.com/public/atlasConocimiento/estilos/estilosGenerales.css">
    <link rel="stylesheet" href="https://pe-pe-pe.herokuapp.com/public/atlasConocimiento/components/recuadroEstilo.css">
    <link rel="stylesheet" href="https://pe-pe-pe.herokuapp.com/public/atlasConocimiento/components/bloqueEstilo.css">
    <link rel="stylesheet" href="https://pe-pe-pe.herokuapp.com/public/atlasConocimiento/components/enlaceEstilo.css">


    <title>Operaciones aritméticas opuestas</title>

</head>

<body>
    <div id="doc">
        <recuadro-component tipo="datoPrevio">
            Las operaciones aritméticas causan un efecto sobre los números que son aplicadas.
        </recuadro-component>

        <recuadro-component tipo="datoPrevio">
            Si dos operaciones aritméticas causan efectos inversos cuando son aplicadas se dice que son <span class="resaltado">operaciones aritméticas opuestas</span>.
        </recuadro-component>

        <bloque-component tipo="ejemplo" textoCabecera="En este cuadro se ven ejemplos de algunas operaciones aritméticas opuestas.">

            <div class="listaEjemplos">
                <div class="itemEjemplo itemEjemplo1" style="width: 300px;">
                    <div class="numeroBolitas">
                        <transition-group name="travelRight">
                            <div class="bolita" v-for="num of numEjemplo1" :key="'bolitaEjemplo1'+num"></div>
                        </transition-group>
                    </div>

                    <div class="boton" :class="{deshabilitado: numEjemplo1!=4}" @click="numEjemplo1+=3">
                        Sumar 3
                    </div>

                    <div class="boton" :class="{deshabilitado: numEjemplo1!=7}" @click="numEjemplo1-=3">
                        Restar 3
                    </div>
                </div>

                <div class="itemEjemplo itemEjemplo1" style="width: 300px;">
                    <div class="numeroBolitas">
                        <transition-group name="travelRight">
                            <div class="bolita" v-for="num of numEjemplo2" :key="'bolitaEjemplo1'+num"></div>
                        </transition-group>
                    </div>

                    <div class="boton" :class="{deshabilitado: numEjemplo2!=6}" @click="numEjemplo2-=1">
                        Restar 1
                    </div>

                    <div class="boton" :class="{deshabilitado: numEjemplo2!=5}" @click="numEjemplo2+=1">
                        Sumar 1
                    </div>
                </div>
            </div>
        </bloque-component>

    </div>
</body>

</html>

<script>
    const doc = new Vue({
        el: "#doc",
        components: {
            recuadroComponent,
            bloqueComponent,
            enlaceComponent
        },
        data() {
            return {
                numEjemplo1:4,
                numEjemplo2:6,
                
            }
        }
    })
</script>
<style>
    .notacion {
        font-size: 18px;
        padding: 2px 3px;
        background-color: cadetblue;
        display: inline-block;
        border-radius: 2px;
    }

    li {
        margin-bottom: 10px;
    }

    #imagenConjuntos {
        max-width: 90vw;
        margin: 10px auto;
        display: block;
    }
    

    .numeroBolitas{
        display: flex;
    }    

    .numeroBolitas span{
        display: flex;
        flex-wrap: wrap;

    }

    .bolita{
        width: 20px;
        height: 20px;
        border-radius: 50%;
        margin: 10px 5px;
        background-color: brown;
        position: relative;
    }
</style>