*{
    box-sizing: border-box;
}
body{
    background-color: #e0fbfc;
}
#contenedorLogin{
    z-index: 100;
    position: fixed;
    right: 2vw;
    top: 5vh;
    border: 2px dotted #555b6eff;
    padding: 1vw;
    border-radius: 1vw;
    background-color: #555b6eff;
}
.elemLogin{
    display: block;
    margin-top: 1vh;
}
#bAbrirLogin::after{
content:"Login"
}
#bAbrirLogin.logged::after{
    content: "Logout";
}
#wrapper{
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 25px 1fr 200px;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
}
#barraSuperior{
    background-color:#555b6e;
    grid-column: 1/3;
    grid-row: 1;
}
.elemBarraS{
    float: right;
    height: 100%;
    vertical-align: center;
    cursor: pointer;
    font-size: 1.1rem;
    margin-right: 1vw;
}
#contenedorDiagrama{
    grid-column: 1;
    grid-row: 2/3;  
    position: relative; 
    border: 2px solid black;
    background-color: #eaac8b;
}

#contenedorProyectos{
    position: relative;
}
.tituloElemento{
    position: relative;
    left: 0%;
    top: -5%;
    visibility: hidden;
    pointer-events: none;
    text-align: center;
}
#contenedorDetalles{
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: gray;
}
.editado{
    background-color: tomato;
}
.elementoDiagrama.activo>.tituloElemento{
    pointer-events: all;
    top: 2%;
}
.enLista .tituloElemento{
    visibility: visible;
    
}
.primerPlano .tituloElemento{
    visibility: visible;
}

.diagObjetivo{    
    background-color:#bccc76;
}
.diagProyecto{
    background-color:#b56576;



}
.diagTrabajo{
    background-color:#257a37;

}

.elementoDiagrama{
    vertical-align: top;
    display: inline-block;
    border-radius: 50%;
    overflow-y: visible;

}
.elementoDiagrama.activo{
    overflow-y: scroll;

}
.primerPlano{
    border-radius: 0%;
    width: 100%;
    height: 100%;
    display: inline-block;
    margin: 0;
}
.elementoDiagrama.enLista.seleccionado{
    transform: scale(1.1);
}
.elementoDiagrama.enLista{
    display: inline-block;
    margin: 3vw;
    width: 15vw;
    height: 15vw;
}
.elementoDiagrama:not(.enLista):not(.primerPlano){
    display: none;
}
#navbarDiagrama{
    position: absolute;
    top: 0;
    left: 0;
    width: 10vw;
    height: 80vh;
    z-index: 5;
    opacity: 0.4;
}
#navbarDiagrama:hover{
    opacity: 1;
}
.itemNBDiagrama{
    cursor: pointer;
    border:2px solid black;
    
}
#botonesCrear{
position: absolute;
bottom: 0;
right: 1vw;
}
.botonCrear{
    display: inline-block;
    text-align: center;
    margin-left: 1vw;
    cursor: pointer;
    font-size: 0.8rem;
    opacity: 0.7;
}
.botonCrear:hover{
    opacity: 1;
}
