/* #region variables globales */
:root {
  --mainColor: #f49e4c;
  --secondaryColor: #fcff77;
  --filtroMainColor: invert(66%) sepia(95%) saturate(493%) hue-rotate(326deg)
    brightness(103%) contrast(91%);

  --mainColorDark: #f49e4c;
  --mainColorLight: #e99e58;
  --colorChecked: #4d8b31;
  --gris: #a6a6a6;

  --colorBlanco: #e9e9e9;
  --filtroBlanco: invert(100%) sepia(8%) saturate(404%) hue-rotate(225deg)
    brightness(115%) contrast(83%);

  --atlasFondo: #12263a;
  --atlasVerde: #4d8b31;
  --atlasAmarillo: #ffc800;
  --atlasAzul: #69c7c7;
  --atlasFondoNodo: #a9d1d1;
  --atlasNaranja: #ef7229;
  --atlasMorado: #ba2c73;
  --atlasGris: #929292;
  --atlasParent: #3066be;

  --filtroAmarillo: invert(79%) sepia(32%) saturate(4772%) hue-rotate(3deg)
    brightness(108%) contrast(105%);
  --filtroVerde: invert(41%) sepia(84%) saturate(349%) hue-rotate(57deg)
    brightness(95%) contrast(89%);

  --atlasFilterFondo: invert(10%) sepia(55%) saturate(1034%) hue-rotate(174deg)
    brightness(91%) contrast(91%);
  --atlasFilterVerde: invert(41%) sepia(84%) saturate(349%) hue-rotate(57deg)
    brightness(95%) contrast(89%);
  --atlasFilterAmarillo: invert(79%) sepia(32%) saturate(4772%) hue-rotate(3deg)
    brightness(108%) contrast(105%);
  --atlasFilterAzul: invert(73%) sepia(20%) saturate(732%) hue-rotate(131deg)
    brightness(92%) contrast(98%);
  --atlasFilterNaranja: invert(53%) sepia(29%) saturate(1745%)
    hue-rotate(340deg) brightness(96%) contrast(95%);
  --atlasFilterMorado: invert(27%) sepia(24%) saturate(4772%) hue-rotate(301deg)
    brightness(92%) contrast(95%);
  --atlasFilterGris: invert(61%) sepia(0%) saturate(1316%) hue-rotate(210deg)
    brightness(97%) contrast(81%);
  --filterBlanco: invert(100%) sepia(100%) saturate(0%) hue-rotate(130deg)
    brightness(106%) contrast(102%);

  --paletaMain: #efae4a;
  --paletaSecond: #eeb867;

  --paletaSelect: #cc3363;
  --paletaFondo: #fffcf9;
  --paletaVerde: #62c370;
  --grisHover: rgba(128, 128, 128, 0.192);

  --calendarioUsuario: #3f88c5;
  --calendarioUsuarioStrong: #2d608a;
  --calendarioPublico: #b6c649;
  --calendarioPublicoStrong: #7e8a33;
  --calendarioNodoSolidaridad: #593f62;
  --calendarioNodoSolidaridadStrong: #312336;
  --calendarioSelect: #fcaa67;
}

@font-face {
  font-family: "Salsa";
  src: url("https://pe-pe-pe.herokuapp.com/public/resources/fonts/Salsa/Salsa-Regular.ttf");
  font-style: normal;
}

/* #endregion */

/* #region predefs */
html {
  height: 100vh;
}

* {
  box-sizing: border-box;
  padding: 0px 0px;
}

body {
  margin: 0px;
  width: 100%;
  height: 100vh;
  background-color: #fffcf9;
  font-family: "Salsa", sans-serif;
}

.fantasmeado {
  opacity: 0.6;
}
/* #endregion */

/* #region menuCx */
.menuContextual {
  position: absolute;
  top: 110%;
  left: 110%;
  min-width: 140px;
  padding: 5px 0px;
  z-index: 110;
  background-color: rgb(177, 177, 159);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.botonMenuCx {
  cursor: pointer;
  font-size: 14px;
  padding: 13px 10px;
  display: flex;
  align-items: center;
  color: rgb(24, 24, 24);
}

.iconoMenuCx {
  height: 13px;
  margin: 0px 5px;
}

.seccionMenuCx {
  font-size: 15px;
  color: rgb(71, 71, 71);
  padding: 5px;
}

.botonMenuCx:hover {
  background-color: gray;
  color: rgb(214, 214, 214);
}

.selectorSubseccionMenuCx {
  position: relative;
}

.subseccionMenuCx {
  position: absolute;
  left: 100%;
  top: 0%;
  display: none;
  background-color: rgb(177, 177, 159);
}

.selectorSubseccionMenuCx:hover > .subseccionMenuCx {
  display: block;
}
/* #endregion */

.zonaConfiguracion {
  padding: 20px 10px;
  background-color: rgb(224, 224, 224);
}

.contenedorBloquesConfiguracion {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.bloqueConfiguracion {
  background-color: rgb(197, 197, 197);
  padding: 10px 10px;
}

.campoConfiguracion {
  display: flex;
  gap: 20px;
}

.campoConfiguracion input {
  margin-left: auto;
}

.barraComponente {
  padding: 10px 20px;
  font-size: 20px;
  background-color: var(--paletaSecond);
  display: flex;
  align-items: center;
}

.tituloComponente {
  font-size: 20px;
  padding: 10px 20px;
  text-align: center;
}

.contenedorControles {
  display: flex;
  padding: 5px 2%;
  flex-direction: row-reverse;
  margin-right: 5px;
}

.contenedorControles .boton {
  margin: 0px 5px;
}

/* #region botones y selectores*/

.boton {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}

.boton .subtextoBoton {
  font-size: 0.6em;
  color: rgb(53, 53, 53);
  text-align: center;
}

.boton img {
  height: 100%;
}

.boton svg {
  height: 100%;
}

.botonTexto {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 15px 20px;
  border-radius: 5px;
  background-color: var(--paletaMain);
  color: black;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.botonTexto img {
  height: 20px;
}

.selector {
  border-style: solid;
  border-width: 1px;
  border-color: transparent;
}
.selector.checked {
  background-color: var(--colorChecked);
  color: white;
}
.selector.checked img {
  /* filter to white */
  filter: invert(1);
}
.boton.selector {
  border-radius: 50%;
}
.selector.activo {
  background-color: var(--atlasConocimientoSeleccion);
}
/* #endregion */

.barraSeccion {
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 20px 10px;
}

.contenedorBotonesCampo {
  margin: 5px auto;
  display: flex;
  justify-content: center;
}

.botonGuardarCampo {
  width: 23px;
  cursor: pointer;
  margin: 0px 5px;
  opacity: 0.8;
}

.listaPersonas {
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
  padding: 20px 20px;
  margin-bottom: 20px;
}
.anuncio {
  font-size: 0.8em;
  font-weight: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px 20px;
  border: 1px solid transparent;
  border-radius: 10px;
  font-style: italic;
  background-color: var(--atlasConocimientoBaseNodo);
}

.anuncio img {
  height: 20px;
}
.anuncio.anuncioSeleccion {
  background-color: var(--atlasConocimientoBaseNodo);
  border: 1px solid var(--atlasConocimientoSeleccion);
}
.anuncioZonaVacia {
  font-size: 13px;
  color: gray;
  text-align: center;
  margin: 30px auto;
  width: min(300px, 80%);
  font-style: italic;
}

#descripcion {
  border: 2px solid var(--paletaMain);
  border-radius: 7px;
  padding: 5px;
}

textarea {
  font-family: "Varela Round", sans-serif;
  resize: vertical;
}

.inputNombreCosa {
  background-color: rgba(255, 255, 255, 0.397);
  font-family: Poppins, Helvetica, Arial, sans-serif;
  padding: 5px;
  border-style: solid;
  border-color: rgb(139, 139, 139);
}

.iconoPersonaAutonomo {
  margin: 10px 15px;
  margin-bottom: 60px;
}

.hoverGris:hover {
  background-color: rgb(201, 201, 201);
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.noUserSelect {
  user-select: none;
}

a {
  text-decoration: none;
  color: black;
}

input {
  border: 1px solid black;
  padding: 5px 10px;
  font-size: 15px;
}

.letrasRojas {
  color: red;
}

.bordeAbajo {
  border-bottom: 2px solid black;
}

.deshabilitado {
  opacity: 0.5;
  user-select: none;
  pointer-events: none;
}

.opaco {
  opacity: 0.6;
}

.trianguloBullet {
  border: 6px solid transparent;
  border-left: 10px solid black;
  align-self: center;
  transform-origin: 25% 70%;
  transition: transform 0.1s;
  cursor: pointer;
}
.ventanaSplash{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.603);
  z-index: 100;
}
.bloqueSplash {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: min(500px, 90%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  background-color: var(--atlasConocimientoBaseNodo);
  border: 1px solid var(--mainColorLight);
  z-index: 100;
  padding: 40px 8%;
  padding-bottom: 60px;
}

.bloqueSplash .botonEquis {
  height: 25px;
  width: 25px;
  position: absolute;
  top: 0px;
  right: 0px;
  transform: translate(50%, -50%);
  background-color: inherit;
  border: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.bloqueSplash .botonEquis img{
 height: 100%; 
}

.tituloSplash {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  font-size: 1.1em;
}

.tituloSplash > img {
  height: 20px;
}

.descripcionSplash {
  text-align: center;
  color: rgb(63, 63, 63);
  font-style: italic;
  text-align: center;
  font-size: 1em;
  margin: 10px auto;
}
