#bloqueDatos {
    width: 100%;
    display: grid;
    grid-template-columns: minmax(200px, 400px) 1fr;
    padding-bottom: 50px;
    max-height: 100vh;
    min-height: 50vh;
}
#listaDatos{
    padding: 20px 0px;
}
#barraLateralDatos {
    min-width: 200px;
}

.selectorDato {
    padding: 10px 7%;
    cursor: pointer;
}

.selectorDato:hover {
    background-color: rgba(0, 0, 0, 0.062);
}

.selectorDato.seleccionado{
    background-color: rgba(0, 0, 0, 0.062);

}
#zonaDetallesDato .barraSuperiorGeneral{
    
}
#tablaDatoSeleccionado{
    
}
#controlesTablaDatos{
    
    flex-direction: row-reverse;
    margin-right: 2%;
}

@media only screen and (max-width: 850px) {
    #bloqueDatos{
        grid-template-columns: 1fr;
    }
    
}