
.boton {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    height: 30px;
    width: 30px;
    border-style: solid;
    border-width: 1px;
    border-color: transparent;
    box-sizing: border-box;
    border-radius: 50%;
    padding: 4px;
    overflow: visible;
    position: relative;
}

.boton img {
    height: 100%;
}

.boton svg {
    height: 100%;
}

.boton .loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.boton.activo {
    background-color: var(--mainColorLight);
}
