.placeholderNodoConocimiento{
    position: absolute;
    cursor: pointer;
}

.placeholderNodoConocimiento .bolita{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #f2f2f2;
    padding: 22px;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
}

.placeholderNodoConocimiento .bolita img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    opacity: 0.3;
}



.placeholderNodoConocimiento .cajaTexto{
    position: absolute;
    top: calc(100% + 20px);
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.2em;
    padding: 10px 10px;
    border-radius: 5px;
    text-align: center;
    width:200%;
    z-index: 1;
    color: #030303;
    background-color: #f2f2f2;
}

/* #region conexiones con seleccionado */
.placeholderNodoConocimiento.fantasmeado{
    opacity: 0.1;
}

.placeholderNodoConocimiento.continuacionSeleccionado .bolita{
    border: 2px solid var(--atlasConocimientoSeleccion);
}

.placeholderNodoConocimiento.previoSeleccionado .bolita{
    border: 2px solid var(--atlasConocimientoSeleccion);
}

/* #endregion */


/* #region aprendible */
.placeholderNodoConocimiento.aprendible .bolita{
} 
.placeholderNodoConocimiento.aprendible .bolita img{
    opacity: 1;
}

/* #endregion */

/* #region estudiado */
.placeholderNodoConocimiento.estudiado .bolita{
    background-color: var(--atlasConocimientoCheck);
}
/* #endregion */

/* #region repasar */
.placeholderNodoConocimiento.repasar .bolita{
    background-color: var(--atlasConocimientoRepasar);
}

/* #endregion */

/* #region Aprendido */
.placeholderNodoConocimiento.aprendido .bolita{
    background-color: var( --atlasConocimientoCheck);

}

.placeholderNodoConocimiento.aprendido .bolita img{
    /* filter to white */
    filter: invert(1);
}
/* #endregion */


/* #region seleccionado */
.placeholderNodoConocimiento.seleccionado .bolita{
    border: 3px solid var(--atlasConocimientoSeleccion);
}

.placeholderNodoConocimiento.seleccionado .cajaTexto{
    background-color: var(--atlasConocimientoSeleccion);
    color: white;
}

/* #endregion */

/* #region vinculos */

.placeholderNodoConocimiento .lineaVinculo{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 2px;
    opacity: 1;
    transform-origin: left center;
    z-index: 0;
    box-sizing: border-box;
    opacity: 0.8;
    pointer-events: none;
}
.placeholderNodoConocimiento .lineaVinculo .laLinea{
    background-color: black;
    height: 100%;
    width: 100%;
    margin: 0px auto;    
    position: relative;
}

.placeholderNodoConocimiento.seleccionado .lineaVinculo .laLinea{
    background-color: var(--atlasConocimientoSeleccion);
}

.placeholderNodoConocimiento .lineaVinculo .laLinea::after{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    content: "";
    width: 1px;
    border: 10px solid transparent;
    border-right: 10px solid black;
}
.placeholderNodoConocimiento.seleccionado .lineaVinculo .laLinea::after{
    border-right: 10px solid var(--atlasConocimientoSeleccion);
}

/* #endregion */