*{
    font-size: 1.3rem;
}

body{
    padding-left: 5%;
}

.videoFull{
    
    width: 100%;
    height: 100%;
}
.videoFull::after{
    content: "";
    width: 50%;
    height: 50%;
    background-color: lightblue;
    cursor: pointer;
}

#boton{
    
}